.rect {
	border: 1px solid;
	position: absolute;
	opacity: 0.3;
	z-index: 20;
}

.line {
	border: 2px solid pink;
	position: absolute;
	pointer-events: none;
	z-index: 30;
}

.arrow1 {
	border: 2px solid pink;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 24px;
	height: 0px;
	pointer-events: none;
	transform: rotate(45deg);
    transform-origin: right top;
}

.arrow2 {
	border: 2px solid pink;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 24px;
	height: 0px;
	pointer-events: none;
	transform: rotate(-45deg);
    transform-origin: right top;
}

.rect:hover {
	border: 3px solid;
}

.selected {
	border: 3px solid orange;
}

.selected:hover {
	border: 3px solid orange;
}

.ne {
	background-color: blue;
}

.se {
	background-color: cyan;
}

.sw {
	background-color: purple;
}

.nw {
	background-color: lightgreen;
}

.group {
	background-color: skyblue;
	z-index: 10;
}

#rect_guide {
	pointer-events: none;
}

#rect_guide div {
	pointer-events: none;
}
