<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/stylesheets/gyomuflow.css">
<script language="javascript" src="static/scripts/jquery-2.1.3.js"></script>
<script language="javascript" src="static/scripts/gyomuflow.js"></script>
</head>
<body>

<div>
  <button id="save">Save</button>
  <button id="load">Load</button>
</div>

<img src="static/pics_local/example.jpg" />
<div id="rects"></div>
<div id="lines"></div>

<div id="rect_guide" style="position: absolute; width:86px; height:40px;">
  <div style="color: green; position:absolute; left:-55px; top:-20px">その他</div>
  <div style="color: blue; position:absolute; left:0px; top:-20px">組織</div>
  <br>
  <div style="color: purple; position:absolute; left:-40px; top:0px">モノ</div>
  <div style="color: cyan; position:absolute; left:0px; top:0px">個人</div>
</div>
</body>
</html>
